h1{
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

ul{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}

p{
    display: none;
}

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ul{
    padding-left: 30px;
}

#article{
    padding-left: 30px;
    padding-right: 30px;
}

@media(max-width: 700px){
    #grid{
        display: block;
    }

    ul{
        border-right: none;
    }
}